/* ===========================
   FONTS
   =========================== */

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/inter-v20-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/inter-v20-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/inter-v20-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* borel-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Borel';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/borel-v10-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kalam-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/kalam-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ===========================
   RESET
   =========================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}
      
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}
      
a {
    text-decoration: none;
    color: inherit;
}
      
ul,
ol {
    list-style-type: none;
}
      
/* ===========================
       CSS VARIABLES
   =========================== */
      
:root {
      
    /* Primary */

    --purple-700: #401D60; /*very dark (check icon) accent*/
    --purple-600: #966AB5; /*dark icon accent*/
    --purple-550: #AA7FCF; /*buttons*/
    --purple-500: #B588DB; /*accent text*/
    --purple-300: #F1E8FB;
    --purple-250: #F5E3FB; /*footer light*/
    --purple-200: #EEE0FA; /*icon accent*/
    --purple-150: #EDE5F9;
    --purple-100: #FBF9FE; /*light background*/

    --pink-600: #AD748A;
    --pink-300: #FDE3EB;
    --pink-150: #FDF8FA;

    --green-600: #85D2C3;
    --green-300: #E6F4EE;
    --green-150: #F6FCF8;
    
    /* Neutral */
    
    --gray-900: hsl(0, 0%, 16%);
    --gray-700: hsl(210, 10%, 33%);
    --gray-500: hsl(201, 11%, 66%);
    --gray-100: hsl(220, 18%, 97%);

    --white: hsl(0, 0%, 100%);
      
    --font-base: 'Inter', sans-serif;
    --font-accent-1: 'Inter', sans-serif;
    --font-accent-2: 'Inter', sans-serif;

}
   
/* ===========================
      BASE
   =========================== */
   
body {
    font-family: var(--font-base);
    color: var(--gray-900);
    background-color: var(--white);
    font-size: 1.125rem;
}

/* ===========================
   LAYOUT & ELEMENTS
   =========================== */